html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;margin: 0;background-color: rgb(109, 109, 109);font-family: 'Times New Roman', Times, serif; }
#displayer{width:100%;height: calc(100% - 70px);display :fixed;position: fixed;font-size: inherit;overflow-y: hidden;z-index: -1;top: 70px;}
.navbox{all: unset;height: 100%;aspect-ratio: 1.5/1;font-size: 20px;text-align: center;display: flex;align-items: center;justify-content: center;background-color: rgb(255, 255, 255);}
#navBar{width: 100%;aspect-ratio: 18/1;background-color: rgb(126, 195, 255);position: fixed;display: flex;align-items: center;}
#connect:active{background-color: rgba(185, 185, 185, 0.918);}
#settingsContainer{width: 100%;height: 65%;z-index: 2;background-color: rgba(255, 255, 255, 0.295);position: relative;display: flex;}
#mainBox{width: 100%;position: relative;display: none;}
.opt{border-radius:10px;background-color: rgba(0, 0, 0, 0.6);color: #ffffff;padding: 20px;font-size: 28px;font-family: 'Times New Roman', Times, serif;line-break: auto; max-width: 80%;font-style: normal ;}
.moistureReading{aspect-ratio: 1/1;width: 40%;display:inline-block;border-radius: 50%;margin: auto;background: #ffd67f46 url('moisturebg.gif') no-repeat center center;background-size: cover;
  display :flex;justify-content: center;align-items: center;font-size: 40px;border-color: rgba(0, 0, 0, 0.26);border-width: 2px;border-style: solid;color:#ffffff;background-blend-mode: darken;font-weight:bold;}
#controlUnit{width: 100%;  display: grid; overflow-y: auto;
  grid-template-columns: 40% 60%; justify-content: space-around;
  grid-template-rows: 100%; 
  gap: 0px 0px; grid-auto-flow:row ;
  grid-template-areas: 
    "c1 c2"; ;height:35%;background-color: rgba(0, 0, 0, 0.81);}



    .cropsChoose{ font-size: 26px;text-align: center;width: 50%;border-radius: 7px;border: none;}
  #readingsBox{width: 35%;display: flex;align-items: enter;justify-content: center;height: 100%;flex-direction: column;}
.crop{width: calc(100% - 60px);padding: 30px;height: calc(50% - 60px);display: flex;flex-direction: column;justify-content: center;align-items: center;color: rgb(255, 255, 255);}
.cropbx{background-color: white;font-size: 24px;color: black ;width: 150px;height: 40px;display: flex;align-items: center;justify-content: center;margin: 7px;}
.inputfield{all:unset;width: 47%;height: 25px;background-color: #ffffff;padding:1.5%;font-size: 24px;text-align: center;border-radius: 7px;}
.controlUnitsubsub{display: flex;justify-content: space-evenly;align-items: center;width: 90%;padding: 2%;height: 16%;}
#manualMode:hover{background-color: rgb(255, 255, 255);}
.controlButton{height: 95%;width: 40%;background-color: rgba(202, 183, 155, 0.849);display:flex;text-align: center;justify-content: space-evenly;align-items: center;font-size: 18px;border-radius: 5px;}
.controlButton:active{background-color:rgb(56, 56, 56) ;}
.cropsChoose:focus{background-color: rgba(145, 145, 145, 0.582);color:#ffffff}
.inputfield:focus{background-color: rgba(155, 155, 155, 0.671);color: #ffffff;}
.controlUnitsub{width:100%;height: 100%;}





#showScreen{font-size: 25px;word-break: break-all;width: 95%;height : 70%; margin : auto;overflow-y :auto;z-index : 2;padding : 2.5% ;background-color: rgba(240, 230, 140, 0.685);font-family: 'Times New Roman', Times, serif;}
#showContainer{width : 99% ;height : 80%; margin : 0.5%; z-index : 1 ;background-color : white;overflow-y :none;position: relative;background-color: rgba(0, 0, 0, 0);}
#writeScreen{font-size: 25px;border: none;display: block;width: 97% ;height : 20%; margin : auto;overflow-y :auto;background-color:rgba(200, 200, 200, 0.9);padding : 1.5%;border : 0px ;color:black;font-family : 'Times New Roman', Times, serif}




@media screen and (max-width: 1000px) { 
    #navBar{aspect-ratio: 13/1;}
    body{font-size: 15px;} 
    .moistureReading{width: 80%;}
    .IrrigateMe{margin-left: -50px;}
  }






  @media screen and (max-width: 680px){
.moistureReading{font-size: 24px;}
#navBar{aspect-ratio: 7/1;}
  }
